<!DOCTYPE html>
<html>
  <head>
    <link
    rel="stylesheet"
    as="style"
    onload="this.rel='stylesheet'"
    href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css"
    />
    <META charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename=img/favicon.png) }}">
    <meta name="keyword" content="BoB, ChatGPT, AI, Game, Survival">
    <meta name="description" content="밥에서 살아남기">
    <meta name="author" content="이재준, 박정식, 심수민, 양준헌">
    <meta property="og:title" content="밥에서 살아남기">
    <meta property="og:description" content="운 좋게도 생존하셨습니다!">
    <meta property="og:image" content="{{ url_for('static', filename=img/thumbnail.png) }}">

    <title>GAME OVER</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#FFFFFF] group/design-root overflow-x-hidden" style='display:table; font-family: "NanumSquareBold, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col" style="display:table-cell; vertical-align:middle;">
        <header class="flex items-center justify-between whitespace-nowrap px-10 py-3"></header>
        <div class="px-40 flex flex-1 justify-center py-5">
            <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">
            <h1 class="text-black font-nomal text-6xl font-bold leading-normal pb-3 tp-1 px-4 text-center">GAME OVER</h1>
            <p class="text-3xl">&nbsp;</p>
            <p class="text-black text-base font-normal leading-normal pb-3 pt-1 px-4 text-center">{{ problem_number }}번째 상황에서 사망하셨습니다.</p>
            <div class="flex justify-center">
              <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 max-w-[480px] justify-center">
                <form action="loadingstart" name="submit_form" method="post" class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 bg-[#1C160C] text-[#FFFFFF] text-base font-bold leading-normal tracking-[0.015em] grow"
                >
                  <input type="hidden" id="token" name="token" value="{{ token }}">
                  <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 bg-[#1C160C] text-[#FFFFFF] text-base font-bold leading-normal tracking-[0.015em] grow"
                    >
                    <span class="truncate">다시하기</span>
                  </button>
                </form>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 bg-[#EEEEEE] text-[#1C160C] text-base font-bold leading-normal tracking-[0.015em] grow"
                  onclick="location.href = 'start';"
                  >
                  <span class="truncate">나가기</span>
                </button>
              </div>
            </div>
            <p class="text-9xl">&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
