<!DOCTYPE html>
<html>
  <head>
    <meta charset="EUC-KR">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />

    <title>Galileo Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#FFFFFF] group/design-root overflow-x-hidden" style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#EEEEEE] px-10 py-3">
          <div class="flex items-center gap-4 text-black">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.0799 24L4 19.2479L9.95537 8.75216L18.04 13.4961L18.0446 4H29.9554L29.96 13.4961L38.0446 8.75216L44 19.2479L35.92 24L44 28.7521L38.0446 39.2479L29.96 34.5039L29.9554 44H18.0446L18.04 34.5039L9.95537 39.2479L4 28.7521L12.0799 24Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
            <h2 class="text-black text-lg font-bold leading-tight tracking-[-0.015em]">Game Interface</h2>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5" >
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <h1 class="text-black tracking-light text-[32px] font-bold leading-tight px-4 text-center pb-3 pt-6" style="font-size:50px ">밥에서 살아남기</h1>
            <div class="flex justify-center">
              <div class="float:left flex flex-1 gap-3 max-w-[480px] flex-col items-stretch px-4 py-3">
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 bg-black text-[#FFFFFF] text-base font-bold leading-normal tracking-[0.015em] w-full"
                >
                  <span class="truncate">게임 시작</span>
                </button>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 bg-[#EEEEEE] text-black text-base font-bold leading-normal tracking-[0.015em] w-full"
                >
                  <span class="truncate">게임 종료</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <footer class="flex justify-center">
          <div class="flex max-w-[960px] flex-1 flex-col">
            <footer class="flex flex-col gap-6 px-5 py-10 text-center @container">
              <p class="text-[#6B6B6B] text-base font-normal leading-normal">Copyright © 2023 Game Company</p>
            </footer>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
